{% extends 'blog/base.html' %}

{% block content %}
    {% for publicacion in publicaciones %}
    <div class="post">
        <div class="date">
            <p>Publicado: {{publicacion.fecha_publicacion}}</p>
        </div>
        <h1><a href="{% url 'detalle_publicacion' pk=publicacion.pk %}">{{ publicacion.titulo }}</a></h1>
        <p>{{ publicacion.texto | linebreaksbr }}</p>
    </div>
    {% endfor %}
{% endblock %}

<!--<div>-->
    <!--<p>Fecha de publicación: 14.06.2014, 12:14</p>-->
    <!--<h2><a href="">Mi primer post</a></h2>-->
    <!--<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
<!--</div>-->

<!--<div>-->
    <!--<p>Fecha de publicación: 14.06.2014, 12:14</p>-->
    <!--<h2><a href="">Mi segundo post</a></h2>-->
    <!--<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>-->
<!--</div>-->

<!--{% for post in posts %}-->
        <!--<div>-->
            <!--<p>published: {{ post.published_date }}</p>-->
            <!--<h1><a href="">{{ post.title }}</a></h1>-->
            <!--<p>{{ post.text|linebreaksbr }}</p>-->
        <!--</div>-->
    <!--{% endfor %}-->
